
body {
	font-family: $font-family-sans-serif;
	font-weight: 400;
	font-size: 14px;
	overflow-x: hidden;
	@extend .text-black-50;
}
h1, h2, h3, h4, h5, .logo {
	font-family: $font-family-sans-serif-secondary;
	color: $black;
}
a {
	transition: .3s all ease;
	text-decoration: none;
}
.form-control, .custom-select {
	border: 2px solid darken($light, 5%);
	font-size: 16px;
	height: 45px;
	&:active, &:focus {
		border-color: $primary;
		box-shadow: none;
	}
}
textarea {
	height: auto!important;
}
// PRELOADER STYLE
#overlayer {
	width:100%;
	height:100%;  
	position:fixed;
	z-index:7100;
	background: $white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.loader {
	z-index:7700;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}